td{
	cursor: pointer;
}
#product_dialog{
	visibility: hidden;
}
.remove_button{
	width: 32px;
	height: 32px;
	background: url("/images/remove_button.png") no-repeat center/100%;
}
#add_button{
	margin: 3px;
}
